<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Thông Tin Cá Nhân</h4>
            <p class="category">Thông tin cá nhân của hội viên mới.</p>
          </div>
          <div class="card-content">

              <!--
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Người bảo trợ</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Người chỉ định</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>
              -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Họ và Tên</label>
                    <input type="text" class="form-control" [(ngModel)]="user.username" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Ngày sinh</label>
                    <input type="date" class="form-control" [(ngModel)]="user.birthday"  >
                    <!--<md-input-container >-->
                      <!--<input  type="date" mdInput placeholder="Number"  >-->
                    <!--</md-input-container>-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">CMND</label>
                    <input type="text" class="form-control" [(ngModel)]="user.identityNumber">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Ngày cấp</label>
                    <input type="date" class="form-control" [(ngModel)]="user.issue_date">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Nơi cấp</label>
                    <input type="text" class="form-control" [(ngModel)]="user.issued_by">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Địa chỉ Thường Trú</label>
                    <input type="text" class="form-control" [(ngModel)]="user.permanent_address">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Địa chỉ Tạm Trú</label>
                    <input type="text" class="form-control" [(ngModel)]="user.temporary_address">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-danger pull-right" (click)="createUser()">Thêm Hội Viên</button>
              <div class="clearfix"></div>

          </div>
        </div>
      </div>
      <!--
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>

          <div class="content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-content">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
