<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Thông Tin Cá Nhân</h4>
            <p class="category">Thông tin cá nhân của bạn.</p>
          </div>
          <div class="card-content">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Người bảo trợ</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Người chỉ định</label>
                    <input type="text" class="form-control"  disabled>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Mã Số Hội Viên </label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.memberId" >
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Họ và Tên</label>
                    <input type="text" class="form-control"  [(ngModel)]="selectedUser.username" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Ngày sinh</label>
                    <input type="date" class="form-control" [(ngModel)]="selectedUser.birthday">
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label"> Số Điện Thoại </label>
                  <input type="text" class="form-control" [(ngModel)]="selectedUser.phone" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label"> Email </label>
                  <input type="text" class="form-control" [(ngModel)]="selectedUser.email"  >
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">CMND</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.identityNumber">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Ngày cấp</label>
                    <input type="date" class="form-control" [(ngModel)]="selectedUser.identityIssueDate">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Nơi cấp</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.identityIssuedBy">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Địa chỉ Thường Trú</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.permanentAddress">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label"> Địa chỉ Tạm Trú</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.temporaryAddress">
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right"  (click)="update()">Cập Nhật</button>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Thông Tin Thanh Toán</h4>
            <p class="category">Thông tin thanh toán của bạn.</p>
          </div>
          <div class="card-content">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Tên Ngân Hàng</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.bankName" >
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Chi Nhánh</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.bankBranchName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Mã Số Tài Khoản</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.bankAccountNumber">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Tên Chủ Tài Khoản</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedUser.bankAccountName">
                  </div>
                </div>
              </div>
              <button type="submit" (click)="update()" class="btn btn-danger pull-right">Cập Nhật</button>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
