/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
*/
/* optional Container STYLES */
.chart {
  height: 100%;
  margin: 5px;
  width: 100%;
}

.Treant p{
  margin:0;
  padding:0;
}


.Treant > .node {

}
.Treant > p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold; font-size: 12px;
}
.node-name {
  font-weight: bold;
}

.nodeExample1 {
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 234px;
  font-family: Tahoma;
  font-size: 12px;
}

.nodeExample1 img {
  margin-right:  10px;
  width: 64px;
  height: 68px;
}

.gray {
  background-color: #909090;
}

.light-gray {
  background-color: #D3D3C7;
}

.blue {
  background-color: #A2BDFD;
}


.Treant .collapse-switch {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  left: calc((100% - 10px)/2);
  top: initial;
  bottom: -7px;
}

tree-diagram[orientation=WEST] .Treant .collapse-switch{
  top: calc((100% - 10px)/2);
  left: initial;
  right: -7px;
}
.Treant .node .collapse-switch {
  background: white;
}
.Treant .node.collapsed {
  border-color: blue;
}
.Treant .node.collapsed .collapse-switch {
  background: blue;
}
